################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/bin/Debug/net9.0
/Data/obj/Debug/net9.0
/Data/obj
/Interface/bin/Debug/net9.0
/Interface/obj/Debug/net9.0
/Interface/obj/Release/net9.0
/Interface/obj
/Model/bin/Debug/net9.0
/Model/obj
/Repository/bin/Debug/net9.0
/Repository/obj/Debug/net9.0
/Repository/obj
/Service/bin/Debug/net9.0
/Service/obj
/.vs/QuickURL/v17/.suo
/logs
/QuickURL.AppHost/bin/Debug/net9.0
/QuickURL.AppHost/obj
/QuickURL.ServiceDefaults/bin/Debug/net9.0
/QuickURL.ServiceDefaults/obj
